#Ignore all DS_Stores
*.DS_Store

#Ignore all zips
*.zip

#Ignore all compiled files
*.class

#Ignore txt files
*.txt

#Sample.txt is needed in order for convertoUpper.java to function
!sample.txt

#ignore example files
Chapter6Examples